{{!-- Navigation bar --}}
<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Mongo Scraper</a>
        </div>
        <ul class="nav navbar-nav navbar-right top-buttons">
            <li><button class="btn btn-light saved">Saved Articles</button></li>
            <li><button class="btn btn-warning scrape">Scrape New Articles</button></li>
            <li><button class="btn btn-warning clear">Clear Articles</button></li>
        </ul>
    </div>
</nav>

<div id="wrapper">
    <div class="articles">
        <div class="load"></div>
        {{#each scrapes}}
            {{#unless saved}}
            <div id="article">
                <h2>{{title}}</h2>
                <button class="btn btn-primary save" data-id="{{_id}}">Save</button>
                <div id="notes">
                    {{note}}
                </div>
            </div>
            {{/unless}}
        {{/each}}
    </div>
    <a href="/scrape">start scraping...</a>
    <h1>Note Scraper</h1>
    <h2><i>If you can do this...the homework should be no problem.</i></h2>
    
</div>